/api-gateway/           @Hwan100
/eureka-server/         @Hwan100
/user-service/          @yonghyun0325
/content-service/       @jjangjun0 @dnjsxo0616
/judge-service/         @kosy00
/coaching-service/      @DaengAe
/infra/                 @Hwan100
docker-compose.yml      @Hwan100
